# Credenciais do Banco de Dados PostgreSQL
DATABASE_URL=postgresql+asyncpg://postgres:postgres@db:5432/ecossistema_vendas

# URL do Redis para controle de Filas e Cadência
REDIS_URL=redis://redis:6379/0

# ----------------- UAZAPI (WHATSAPP) -----------------
UAZAPI_URL=https://inteligentte.uazapi.com
UAZAPI_TOKEN=sua_chave_secreta_aqui

# ----------------- OPENAI (CÉREBRO) -----------------
OPENAI_API_KEY=sua_chave_da_openai_aqui
