# Arquivos de ambiente
.env

# Pastas de contexto / documentação restrita
Contexto/

# Python & Virtual Environments
__pycache__/
*.py[oc]
build/
dist/
wheels/
*.egg-info
.venv/
env/
venv/

# Testes e Linters
.pytest_cache/
.ruff_cache/
.coverage
htmlcov/

# IDEs e Sistema Operacional
.vscode/
.idea/
.DS_Store
Thumbs.db

